html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body{
    position: relative;

    background-size: cover;
    background-image: url(bg-night.png);
}

#client-messages{
    width: 200px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

.client-message{
    margin: 5vw;
    padding: 3vw;

    position: relative;

    border-radius: 5px;
    border: 1px solid black;
}