html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body{
    position: relative;

    background-size: cover;
    background-image: url(bg-night.png);
}

#client-messages{
    width: 200px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

.client-message{
    margin: 5vw;
    padding: 3vw;

    position: relative;

    border-radius: 5px;
    border: 1px solid black;
}

#loading-indicator{
    width: 40%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);

    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

#loading-indicator.done{
    width: 0%;
}

#text-input{
    width: 50%;
    height: 80px;
    max-width: 300px;
    padding: 10px;

    position: absolute;
    left: 50%;
    top: 50%;

    font-size: 30px;

    border-radius: 10px;

    transform: scale(1) translateX(-50%) translateY(-50%);
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);

    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

#text-input.hidden{
    transform: scale(0);
    -webkit-transform: scale(0);

    opacity: 0;
}