html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body{
    position: relative;

    background-color: #111111;
}

#primary-canvas{
    width: 100%;
    height: 100%;

    -webkit-transform: translateZ(0);
}

#loading-indicator{
    width: 40%;
    height: 20px;

    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);

    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
}

body[data-state='disconnected'] #loading-indicator,
body[data-state='paused'] #loading-indicator,
body[data-state='ready'] #loading-indicator{
    width: 0;
    height: 0;
    opacity: 0;
}

#client-state{
    width: auto;
    height: 20px;

    position: absolute;
    z-index: 100;
    left: 50%;
    top: 55%;

    color: white;

    line-height: 20px;
    font-family: arial;
    font-size: 16px;

    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);

    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
}

body[data-state='ready'] #client-state{
    width: 0;
    height: 0;
    opacity: 0;
}





#text-input{
    width: 50%;
    height: 80px;
    max-width: 300px;
    padding: 10px;

    position: absolute;
    left: 50%;
    top: 50%;

    font-size: 30px;

    opacity: 0;

    border-radius: 10px;

    transform: scale(0);
    -webkit-transform: scale(0);

    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
}

#text-input.active{
    opacity: 1;

    transform: scale(1) translateX(-50%) translateY(-50%);
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
}